html, body {
    margin: 0;
}

header {
    background-color:#3674B5;
    padding: 20px;
    text-align: right;
    border-bottom: #333 solid 3px;
}

footer {
    background-color:#3674B5;
    padding: 10px;
    text-align: center;
    border-top: #333 solid 3px;
    color: white;
}

main  {
    text-align: center;
}

header > a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
}

h1 {
    color: #3674B5;
}

img {
    height: 100px;
}

.section {
    background-color: #A1E3F9;
    margin: 20px;
    text-align: center;
    color: #333;
}

tr:nth-child(1) > td:nth-child(1) .section {
    border-top: double black 20px;
    border-bottom: double black 20px;
    border-right: black dotted 5px;
    border-left: black dotted 5px;
    border-radius: 20px 0px 0px 0px;
}

td:nth-child(1) p {
    text-align: left;
}

td:nth-child(2) p {
    text-align: right;
}

tr:nth-child(1) > td:nth-child(2) .section {
    border-top: dashed black 5px;
    border-bottom: dashed black 5px;
    border-right: black solid 5px;
    border-left: black solid 5px;
    border-radius: 0px 20px 0px 0px;
}
tr:nth-child(2) > td:nth-child(1) .section {
    border-top: double black 10px;
    border-bottom: solid black 10px;
    border-right: black dashed 5px;
    border-left: black dotted 5px;
    border-radius: 0px 0px 0px 20px;
}
tr:nth-child(2) > td:nth-child(2) .section {
    border-top: dashed black 5px;
    border-bottom: solid black 5px;
    border-right: black double 10px;
    border-left: black double 10px;
    border-radius: 0px 0px 20px 0px;
}

main a:hover {
    color: #b21414;
}

header a:hover {
    background-color: #A1E3F9;
    text-decoration: underline;
    border-radius: 2px 2px 2px 2px;
}