html {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 0;
    margin: 0;
    background-image: url('image/body_background.jpg');
}

#judul {
    color: white;
    text-align: center;
}

.food-table {
    background-color: #f7f7f7;
}

.food-desc {
    text-align: center;
    background-color: #f7f7f7;
}

.food-pic {
    background-color: #f7f7f7;
}

.food-name {
    background-color: #f7f7f7;
}

tr:nth-child(2) td:nth-child(1){
    background-color: #FFD700;
}

tr:nth-child(6) td:nth-child(1){
    background-color: #FFD700;
}

tr:nth-child(3) td:nth-child(2){
    background-color: #FFD700;
}

tr:nth-child(5) td:nth-child(2){
    background-color: #FFD700;
}

tr:nth-child(4) td:nth-child(3){
    background-color: #FFD700;
}

th {
    background-color: yellow;
}

ul {
    color: blue;
    text-align: left;
}

a:link {
    background-color: pink;
    color: #323232;
}

a:hover {
    background-color: hotpink;
    color: #f7f7f7;
}

.footer {
    color: #f7f7f7;
    text-shadow: white;
    text-align: center;
}